body {
  margin: 0;
  background: #f5f5f5;
  font-family: sans-serif;
}

.btn-outline,
.btn-primary {
  width: 100%;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.btn-outline {
  background: #f7f7f7;
  border: 1px solid #ddd;
  color: #111;
}

.btn-primary {
  background: #111;
  color: #fff;
}

.btn-outline:hover {
  background: #eee;
}

.btn-primary:hover {
  background: #333;
}
